@{

    ViewBag.Title = "Добавление водителей";
}
@model Cargo.ViewModels.CreateDriversViewModel
 
 <!DOCTYPE html>
<html>
<head>
    <title>Driver</title>
</head>
<body>
       <div class="container">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">Поиск</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active  bg-dark">Добавление</a>
                    </li>
                </ul>
            </div>
            <div class="card-body text-center">
                <form asp-action="Create" asp-controller="Drivers">
                    <div class="form-group">
                        <label asp-for="DriverName">Имя</label>
                        <input type="text" asp-for="DriverName" class="form-control" />
                        <span class="text-danger small" asp-validation-for="DriverName"></span>
                        <label asp-for="PassportDetails">Паспорт</label>
                        <input type="text" asp-for="PassportDetails" class="form-control" />
                        <span class="text-danger small" asp-validation-for="PassportDetails"></span>
                    </div>
                    <div style="margin-top: 10px">
                        <input type="submit" class="btn btn-outline-dark" value="Сохранить" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>  