@model Cargo.ViewModels.EditDriversViewModel

@{
    ViewBag.Title = "Изменение водителя";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <form asp-action="Edit" asp-controller="Drivers">

            <div class="card">
                <div class="card-header text-center bg-light">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index">Поиск</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Create">Добавление</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active bg-dark">Изменение</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body text-center">
                        <span class="form-group">
                            <input type="hidden" asp-for="Id" />
                        </span>
                    <div class="form-group">
                        <div class="col">
                            <label asp-for="DriverName">Имя</label>
                            <input type="text" id="SettlementName" class="form-control" asp-for="DriverName" />
                            <span class="text-danger small" asp-validation-for="DriverName"></span>
                        </div>
                        <div class="col">
                            <label asp-for="PassportDetails">Паспорт</label>
                            <input type="text" id="SettlementName" class="form-control" asp-for="PassportDetails" />
                            <span class="text-danger small" asp-validation-for="PassportDetails"></span>
                        </div>

                        

                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-dark" value="Сохранить" />
                    </div>
                </div>
                
            </div>
                        
                    </form>
                </div>

</body>
</html>