@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>"User"</title>
</head>
<body>
    <div>
        <a href="Organizations/Index">Organizations</a> <br />
        <a href="Settlements/Index">Settlements</a> <br />
        <a href="Distances/Index">Distances</a> <br />
        <a href="Drivers/Index">Drivers</a> <br />
        <a href="Loads/Index">Loads</a> <br />
        <a href="Cars/Index">Cars</a> <br />
        <a href="CarBrands/Index">CarBrands</a> <br />
        <a href="TransportationTariffs/Index">TransportationTariffs</a> <br />
        <a href="CargoTransportations/Index">CargoTransportation</a> <br />



    </div>
</body>
</html>