@{

    ViewBag.Title = "Добавление грузов";
}
@model Cargo.ViewModels.CreateLoadsViewModel
 
 <!DOCTYPE html>
<html>
<head>
    <title>Load</title>
</head>
<body>
       <div class="container">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">Поиск</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active  bg-dark">Добавление</a>
                    </li>
                </ul>
            </div>
            <div class="card-body text-center">
                <form asp-action="Create" asp-controller="Loads">
                    <div class="form-group">
                        <label asp-for="LoadName">Название</label>
                        <input type="text" asp-for="LoadName" class="form-control" />
                        <span class="text-danger small" asp-validation-for="LoadName"></span>
                        <label asp-for="Volume">Объем</label>
                        <input type="number" asp-for="Volume" class="form-control" />
                        <span class="text-danger small" asp-validation-for="Volume"></span>
                        <label asp-for="Weight">Вес</label>
                        <input type="number" asp-for="Weight" class="form-control" />
                        <span class="text-danger small" asp-validation-for="Weight"></span>
                    </div>
                    <div style="margin-top: 10px">
                        <input type="submit" class="btn btn-outline-dark" value="Сохранить" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>  