@{

    ViewBag.Title = "Добавление машин";
}
@model Cargo.ViewModels.CreateCarsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Cars</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">Поиск</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Добавление</a>
                    </li>
                </ul>
            </div>
            <div class="card-body text-center">
                <form asp-action="Create" asp-controller="Cars">
                    <div class="form-group">
                        <div class="col">
                            <label for="carBrand">Марка</label>
                            <select id="carBrand" class="form-control" asp-for="CarBrandId" asp-items="Model.CarBrands"></select>
                        </div>
                        <div class="col">
                            <label asp-for="LiftingCapacity">Грузоподъемность</label>
                            <input type="number" asp-for="LiftingCapacity" class="form-control" />
                            <span class="text-danger small" asp-validation-for="LiftingCapacity"></span>
                        </div>
                        <div class="col">
                            <label asp-for="BodyVolume">Объём</label>
                            <input type="number" asp-for="BodyVolume" class="form-control" />
                            <span class="text-danger small" asp-validation-for="BodyVolume"></span>
                        </div>
                        <div class="col">
                            <label asp-for="RegistrationNumber">Номер</label>
                            <input type="text" asp-for="RegistrationNumber" class="form-control" />
                            <span class="text-danger small" asp-validation-for="RegistrationNumber"></span>
                        </div>
                    </div>
                    <div style="margin-top: 10px">
                        <input type="submit" class="btn btn-outline-secondary" value="Сохранить" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>  